<!DOCTYPE html>
<html>

<head>
    <title>Travial-Web</title>

    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/jumbotron.css"/>
    <link rel="stylesheet" type="text/css" href="/static/main.css"/>
</head>

<body>
    <!-- Navigation bar (to navigate through the different sections) -->
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
            <!-- Tabs on the left -->
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                </li>
            </ul>

            {% if user.is_authenticated %}
              <ul class="nav navbar-nav">
                  <li class="active">
                      <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                  </li>
              </ul>
              
            <span class="welcome-msg">Welcome, <b>{{ user.username }}</b> !!!</span>
              
            {% else %}
              <ul class="nav navbar-nav">
                  <li class="active">
                      <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                  </li>
              </ul>
              
              <ul class="nav navbar-nav">
                  <li class="active">
                      <a href="/register"><span class="glyphicon glyphicon-list-alt"></span> Register</a>
                  </li>
              </ul>
            {% endif %}

            <!-- Tabs on the right -->
            <ul class="nav navbar-nav navbar-right">
              <li class="navbar-right">
                  <a href="/contact"><span class="glyphicon glyphicon-phone"></span> Contact</a>
              </li>

              <li class="navbar-right">
                  <a href="/tutorials"><span class="glyphicon glyphicon-info-sign"></span> Tutorials</a>
              </li>
              
              <li class="navbar-right">
                  <a href="/rankings"><span class="glyphicon glyphicon-sort"></span> Rankings</a>
              </li>
              
              <li class="navbar-right">
                  <a href="/profile"><span class="glyphicon glyphicon-user"></span> My profile</a>
              </li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}

</body>

</html>
