{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="logo">
      <img src="{% static 'logo.jpg'%}">
    </a>
    
    <h1>Travial-Web</h1>
    <h3>Web service related to the Android app Travial</h3>
    
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/isma94/Travial-Web"><span class="glyphicon glyphicon-flash"></span>Source</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/isma94/Travial-Web/tree/doc"><span class="glyphicon glyphicon-flash"></span>Documentation</a>
  </div>
</div>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
    You can access the different sections of the page by using the <b>navigation bar</b> at the top.
  </div>
</div>

{% endblock %}
